.hero-child {
  position: absolute;
  top: 0;
  left: 820px;
  width: 630px;
  height: 475px;
  object-fit: cover;
}
.find {
  margin-block-start: 0;
  margin-block-end: 0;
}
.balance {
  margin: 0;
}
.find-your-balance,
.track-your-well-container {
  position: absolute;
  top: 0;
  left: 60px;
  line-height: 78px;
  display: inline-block;
  width: 406.52px;
  height: 236.47px;
}
.track-your-well-container {
  top: 236.47px;
  left: 40px;
  font-size: var(--font-size-3xs);
  line-height: 30px;
  font-family: var(--font-open-sans);
  color: var(--color-dimgray-100);
  width: 709px;
  height: 60.63px;
}
.group-child9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-teal);
  position: absolute;
  top: 18.19px;
  left: 40px;
  border-radius: var(--br-md) 0 var(--br-md) 0;
  width: 245.61px;
  height: 43.45px;
}
.group-button,
.start-assesment {
  position: absolute;
  height: 78.82px;
}
.start-assesment {
  top: 0;
  left: 70px;
  font-size: var(--font-size-3xs);
  line-height: 78px;
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: left;
  width: 199.63px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 321.36px;
  left: 9.68px;
  width: 245.61px;
}
.find-your-balance-parent,
.hero {
  position: absolute;
  top: 102.07px;
  left: 0;
  width: 709px;
  height: 400.19px;
}
.hero {
  top: 187.97px;
  left: 20px;
  width: 100%;
  height: 95%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}



.login-form1{
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
  background: rgba(0,0 ,0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-form1 form{
  width: 40rem;
  height: 90rem;
  background: #fff;
  margin: 0 2rem;
  padding: 1rem 3rem;
  border-radius: .5rem;
  box-shadow: 0 .1rem .3rem #333;
  position: relative;
  height: 35rem;
}

.login-form1 form .box
{
  width: 100%;
  padding: 0.8rem 0;
  margin: 1rem 0;
  border: .1rem;
  border-bottom: .2rem solid #666;
  font-size: 1.2rem;
  color: #333;
  text-transform: none;


}

.login-form1 h3
{
  font-size: 3rem;
  color: #e3a5ac;
  padding: .3rem 0;
  align-items: center;

}

.login-form1 form .box::placeholder
{
  text-transform: capitalize;
}
.login-form1 form .box:focus
{
  border-color: #43ecec;
}
.login-form1 form .btn{
  width: 100%;
  margin: 2rem 0;

}
.login-form1 form .btn:hover
{
  background: #444;
}
.login-form1 form .topsign button
{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  size: 8.5rem;
  cursor: pointer;
  color: #999;
  background: transparent;
  border: transparent;
  padding: 1rem;
  height: 3rem;
  width: 3rem;
}

.login-form1 form .topsign button:hover
{
  color: #444;
}
.login-form1 form p
{

  font-size: 1.2rem;
  color: #333;
  text-transform: none;

}

:root
{
    --gradient: linear-gradient(89.68deg, #E9F7FF -8.49%, #FCDED9 72.23%, #FFE3D1 172.57%);;
}


.btn
{
  padding: .4rem 3rem;
  font-size: 2rem;
  color: #fff;
  background: #e970b0;
  border-radius: 5rem;
  margin-top: .7rem;
  border: transparent;
  cursor: pointer;
  box-shadow: 0 .1rem .3rem rgba(0,0 ,0, .3);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn::before
{
  content: '';
  position: absolute;
  top: -1rem;
  left: -100%;
  background: #fff9;
  height: 150%;
  width: 20%;
  transform: rotate(25deg);
  z-index: -1;
}
.btn:hover
{
  background: var(--gradient);
}

.btn:hover::before{
    transition: .9sec linear;
    left: 120%;
}
