.section{
    margin-top: 10%;
    
}
.heading{
    margin-left: 40%;
}
.reccos{
    display: flex;
    flex-direction: row;
    min-width: 80%;
    margin-left: 30%;

    
    
}
.box1{
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 50px;
    overflow: hidden;
}

.box2{
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 50px;
    overflow: hidden;
}
.box3{
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 50px;
    overflow: hidden;
}
#Singer1{
    margin-bottom: 100px;
    height: 250px;
    width:250px;
    object-fit:fill;
}

#singer2{
    margin-bottom: 100px;
    height: 250px;
    width:250px;
    object-fit:fill;

}
#singer3{
    height: 250px;
    width:250px;
    object-fit:fill;

}




.container{
    min-width: 100px;
}
