

.head1{
  position: relative;
  padding-top: 90px;
  font-size: 30px;
  margin-left: 34%;
  text-decoration: underline;
}

.head2{
  position: relative;
  margin-top: 2%;
  margin-left:  20%; 
  width: 60%;
  text-align: center;
  font-size: 23px;
}
.App .gov{
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: 30px;
  text-decoration: double;

}
.App .govt{
  position: relative;
  padding: 1rem;
  margin-left: 35%;
}
.govt .govt_site{
  margin-right: 30px;
  font-size: 25px;
  text-decoration: none;
  color: darkslateblue;
  padding: 32px;
}

.govt .govt_no{
  font-size: 25px;
  color: cornflowerblue;
  padding-top: 7px;
}
.contact{
  margin-left: 10%;
}

.App .prof{
  position: absolute;
  padding: 1rem;
  display: inline;
  /* margin-right: 10px; */
  align-content: center;
}
.felicity{
  width: 100px;
  padding-bottom: 22px;
  margin-left: 30px;
}
.box{
  font-size: large;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  text-align: center;

}

.practo{
  width: 100px;
  margin-left: 40%;


}
.chat-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 45px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.chat-header {
  text-align: center;
  margin-bottom: 20px;
}

.chat-messages {
  height: 300px;
  overflow-y: scroll;
}

.chat-message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user-message {
  background-color: #ffffff;
  float: right;
  clear: both;
}

.bot-message {
  background-color: #e6e6e6;
  float: left;
  clear: both;
}

.chat-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 30%;
}

.chat-input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.chat-submit-button {
  width: 30%;
  margin-top: 25px;
  margin-left: 120px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.chat-submit-button:hover {
  background-color: #3e8e41;
}
.remember{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
