.{
    margin: 0;
    padding: 0;
}
.page{
    position: relative;
    padding-bottom: 40px;


background: #FFFFFF;
}
.helpline{
    position: absolute;
    width: 100%;
    
    
}
.info{
    margin: 0;

}
.heading{
    text-align: center;
    margin-left: -5px;
   

}
.depressbox{
 box-sizing: border-box;
 padding: 25px;

position: absolute;
width: 80%;
left: 10%;
top: 180px;
height: 800px;


border: 2px solid #B0855B;
border-radius: 0px;
}
h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 60px;
text-align: center;
}
.contactbtn{
    position: absolute;
width: 300px;
height: 30px;

top: 150px;

background: #37806B;
border-radius: 20px 0px;
left: 35%;
font-size: small;
color: #FFFFFF;
}
h3{
    text-align: center;
    margin-bottom: 15px;
    
}
p{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    font-size: medium;
}
.helps{
    position: absolute;
    height: 500px;
    width: 95%;
    
    display: grid;
    grid-template-columns: auto auto auto;
}
.helpbox{
   
    height: 200px;
    width: 250px;
    border: 1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border: 2px solid #B0855B;
    box-sizing: border-box;
    padding: 10px;
    

}
.helpbox:hover{
    background-color: #ffd8ad;
}
.rememberbox{
    box-sizing: border-box;

position: absolute;
width: 80%;
left: 10%;
top: 1100px;


border: 2px solid #B0855B;
border-radius: 0px;
margin-bottom: 20px;
    

}
.spacer {
    height: 80px;
    margin: 0 0 -80px 0;
   
    background: transparent; 
}
